body {
    background-color: #4C75B3 !important;
    margin: 0px;
    font-family: sans-serif;
}





header{
    background-color: #1c31a5;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 10px;
    color: white;
}


.logo{
    display: flex;
}
.logo img{
    height: 50% ;
    margin-right: 10px;
    background-color: white;
    width: 50px;
}

nav a{
    color: white;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


    
/* BOOTSTRAP */
.container{
    margin-top: 20px;
    background-color: whitesmoke;
    margin-bottom: 60px;
}

.card-img-top {
    height: 300px; /* Establece la altura deseada para todas las imágenes */
    object-fit: cover;
}




@media screen and (max-width: 570px) {
    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: grey;
        color: white;
        padding: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
